tap 'cantino/mcfly'
tap 'homebrew/bundle'
tap 'homebrew/core'

brew 'automake'
brew 'bat'
brew 'ctags'
brew 'fasd'
brew 'fd'
brew 'ffmpeg'
brew 'findutils'
brew 'fzf'
brew 'git'
brew 'git-delta'
brew 'git-extras'
brew 'golang'
brew 'hexyl'
brew 'imagemagick'
brew 'jq'
brew 'lame'
brew 'mcfly'
brew 'mosh'
brew 'neovim'
brew 'openssl'
brew 'python3'
brew 'ranger'
brew 'readline'
brew 'ripgrep'
brew 'scdoc'
brew 'spaceman-diff'
brew 'starship'
brew 'terraform'
brew 'tidy-html5'
brew 'tmux'
brew 'tree'
#brew 'volta'
brew 'zsh'

{{ if (eq .chezmoi.os "darwin") }}
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'

cask 'clipy'
cask 'font-fira-code'
brew 'highlight'
cask 'homebrew/cask-fonts/font-inconsolata-nerd-font'
cask 'inkscape'
cask 'iterm2'
cask 'karabiner-elements'
cask 'osxfuse'
cask 'qlmarkdown'
cask 'vlc'

brew 'coreutils'
brew 'emacs-mac'
brew 'gawk'
brew 'gh'
brew 'podofo'
brew 'reattach-to-user-namespace'
brew 'rename'
brew 'x264'
brew 'x265'
brew 'xvid'
brew 'youtube-dl'

#cask 'firefox'
#cask 'google-chrome'
#cask 'steam'
#brew 'ntfs-3g'
{{ end }}

{{ if (eq .chezmoi.os "linux") }}
brew 'emacs'
{{ end }}
