[user]
  name = "Corey Jewett"
{{- if (or (contains .chezmoi.group "APOLLO\\Domain Users") (contains "-dev-backend" .chezmoi.hostname)) }}
  email = corey.jewett@smartsheet.com
{{- else }}
  email = cj@syntheticplayground.com
{{- end }}
