# Note to self: Could regenerate part of this using: `brew bundle --dump --describe`.

# Some stuff worth looking at: https://github.com/ragnorc/setup/blob/master/Brewfile

tap "cantino/mcfly"
tap "mutagen-io/mutagen"
tap "homebrew/bundle"

# general tools
brew "automake"
brew "bat"
brew "ctags"
brew "docker-compose"
brew "fd"
brew "ffmpeg"
brew "findutils"
brew "fzf"
brew "gh"
brew "ghostscript"
brew "git"
brew "git-delta"
brew "git-extras"
brew "gnupg"
brew "graphviz"
brew "grep"
brew "hexyl"
brew "imagemagick"
brew "jq"
brew "lame"
brew "mcfly"
brew "mosh"
brew "mutagen-io/mutagen/mutagen"
brew "ncdu"
brew "neovim"
brew "openssl"
brew "pandoc"
brew "ranger"
brew "readline"
brew "rename"
brew "renameutils"
brew "ripgrep"
brew "scdoc"
brew "sd"
brew "spaceman-diff"
brew "starship"
brew "tealdeer"
brew "terraform"
brew "tidy-html5"
brew "tmux"
brew "tree"
brew "yamllint"
brew "zsh"

# languages
brew "golang"
brew "python3"

# :lang typescript
brew "volta"

# :lang markdown
brew "highlight"
brew "proselint"
brew "multimarkdown"
brew "grip"

# :lang bash lint/static anal
brew "shellcheck"

# :lang plantuml
brew "plantuml"
brew "graphviz"

# :lang rust
brew "rust"
brew "rust-analyzer"

# :lang kotlin
brew "ktlint"

###################
###### Mac Specific
{{ if (eq .chezmoi.os "darwin") }}
tap "homebrew/cask"

# fonts, everybody loves fonts
tap "homebrew/cask-fonts"
cask "font-fira-code"
cask "homebrew/cask-fonts/font-inconsolata-nerd-font"
cask "homebrew/cask-fonts/font-caskaydia-cove-nerd-font"


# general usability
cask "clipy"
cask "karabiner-elements"
cask "rectangle"

# Needs to be started: brew services start autoraise
tap "dimentium/autoraise"
brew "autoraise"

# TODO: configure these
tap "koekeishiya/formulae"
brew "yabai"
brew "skhd"

# input systems
cask "talon"
cask "plover"

# document manipulation / preview
brew "podofo"
cask "qlmarkdown"
cask "skim"

# emacs
brew "d12frosted/emacs-plus/emacs-plus@28", args: ["with-native-comp", "with-imagemagick", "with-dragon-icon"]

# terminal
cask "iterm2"
brew "reattach-to-user-namespace"
brew "coreutils"
brew "gawk"
brew "gnu-tar"

# development tools
cask "insomnia"

# graphics
cask "gimp"
cask "inkscape"

# audio / video
cask "blackhole-2ch"
cask "blackhole-16ch"
cask "streamlabs-obs"
cask "vlc"
brew "x264"
brew "x265"
brew "xvid"
brew "youtube-dl"

cask "firefox"
cask "spotify"

# Knowledge
cask "nvalt"
# with? https://github.com/ryanpcmcquen/obsidian-org-mode
# brew cask obsidian
# OR logseq

cask "slack"
cask "discord"

#cask "google-chrome"
#cask "steam"
#brew "ntfs-3g"
#cask "osxfuse"

brew "mas"

{{- if (or (contains .chezmoi.group "APOLLO\\Domain Users") (contains "-dev-backend" .chezmoi.hostname)) }}
cask "finicky"

# Smartsheet apps
#mas "Be Focused", id: 973134470
mas "Microsoft Remote Desktop", id: 1295203466
mas "Sim Daltonism", id: 693112260
mas "Yubico Authenticator", id: 1497506650
{{ end }}
{{ end }}

{{ if (eq .chezmoi.os "linux") }}
brew "emacs"
{{ end }}
