#!/bin/sh

KEY_TXT="${HOME}/.config/chezmoi/key.txt"

if [ ! -f "$KEY_TXT" ]; then
    mkdir -p "$(dirname $KEY_TXT)"
    #chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    op read 'op://Private/dotconfig_chezmoi/key.txt?attribute=content' > "$KEY_TXT"
    chmod 600 $KEY_TXT
fi
